<ion-view>
	<ion-nav-title>{{brief.title}}</ion-nav-title>
	<ion-nav-buttons side="right">
    	<button class="button button-icon icon ion-compose" ng-click="showModal()"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
  		<div class="list card">
  			<div class="item">
    			{{brief.description}}
			</div>
		 	<div class="item item-body">
	    		Status:
    			<p ng-if="brief.status_id == 1">Enviado</p> 
    			<p ng-if="brief.status_id == 2">Aprovado</p>
		  	</div>
		</div>
  	</ion-content>
</ion-view>