<ion-view>
	<div class="bar bar-header bar-positive">
	  <h1 class="title">Iniciar sesión</h1>
	</div>
	<ion-content class="has-header has-headerbg">
		<div class="row">
			<div class="col">
				<form ng-submit="login(loginData)">
					<div class="list list-inset">
		    			<label class="item item-input">
			    			<input type="email" ng-model="loginData.email" placeholder="Email" required>
			  			</label>
			  			<label class="item item-input">
			    			<input type="password" ng-model="loginData.password" placeholder="Contraseña" required>
			  			</label>
					</div>
					<div class="col">
						<button class="button button-block button-balanced" type="submit">Inicia sesión</button>
					</div>
					<div class="col">
						<a class="button button-clear button-block btntext" href="#/signup">Regístrate</a>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>