<ion-view title="Iniciar sesión">
	<ion-nav-bar class="bar-positive nav-title-slide-ios7">
	</ion-nav-bar>
	<ion-content class="has-header has-headerbg">
		<div class="row">
		  	<div class="col">
  				<a class="button button-clear button-block btntext" ng-click="remember()">¿Te has olvidado?</a>
		  	</div>
		  	<div class="col">
		  		<a class="button button-clear button-block btntext" href="#/signup">Regístrate</a>
		  	</div>
		</div>
		<div class="row">
			<div class="col">
				<form ng-submit="login(loginData)">
					<div class="list list-inset">
		    			<label class="item item-input">
			    			<input type="email" ng-model="loginData.email" placeholder="Email" required>
			  			</label>
			  			<label class="item item-input">
			    			<input type="password" ng-model="loginData.password" placeholder="Contraseña" required>
			  			</label>
					</div>
					<div class="col">
						<button class="button button-block button-balanced" type="submit">Inicia sesión</button>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>