<ion-view title="Nuevo brief" ng-controller="NewBriefCtrl">
  <ion-nav-buttons side="right" ng-if="items.length !== 0">
    <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
    <button class="button button-icon icon ion-arrow-move" ng-click="data.showDelete = false; data.showReorder = !data.showReorder"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-footer">
    <ion-list id="ionListItems" show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-repeat="item in items" item="item">
        <div dynamic="item.input">{{item.input}}</div>
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<ion-footer-bar class="bar-light" ng-controller="NewBriefCtrl">
  <div class="buttons">
    <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
  </div>
  <h1 class="title"></h1>
  <div class="buttons" ng-click="save()">
    <button class="button button-balanced icon ion-archive">Guardar</button>
  </div>
</ion-footer-bar>