<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" ng-click="addInput('nptTxt')">Write short text</a>
      <a class="item" ng-click="addInput('textarea')">Write long text</a>
      <a class="item" ng-click="addInput('nptColor')">Choose a color</a>
      <a class="item" ng-click="addInput('nptDate')">Choose a date</a>
      <a class="item" ng-click="addInput('nptNumber')">Write a number</a>
      <a class="item" ng-click="addInput('nptFile')">File uploader</a>
      <a class="item" ng-click="addInput('nptRadio')">Select one option</a>
      <a class="item" ng-click="addInput('nptCheckbox')">Select multiple options</a>
    </div>
  </ion-content>
</ion-popover-view>