<ion-popover-view ng-controller="NewBriefCtrl">
  <ion-content>
    <div class="list">
      <a class="item" ng-click="addInput('nptTxt')">input type text</a>
      <a class="item" ng-click="addInput('textarea')">textarea</a>
      <a class="item" ng-click="addInput('nptColor')">input type color</a>
      <a class="item" ng-click="addInput('nptDate')">input type date</a>
      <a class="item" ng-click="addInput('nptNumber')">input type number</a>
      <a class="item" ng-click="addInput('nptFile')">input type file</a>
      <a class="item" ng-click="addInput('nptRadio')">input type radio</a>
      <a class="item" ng-click="addInput('nptCheckbox')">input type checkbox</a>
    </div>
  </ion-content>
</ion-popover-view>