<ion-view>
	<ion-nav-bar class="bar-positive nav-title-slide-ios7">
		<ion-nav-buttons side="left">
	  		<a ng-click="goBack()" class="button button-icon ion-arrow-left-c"></a>
		</ion-nav-buttons>

		<h1 class="title">Registro</h1>
    	<ion-nav-buttons side="right"></ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="has-header has-headerbg">
		<div class="row">
		  	<div class="col"></div>
		  	<div class="col">
		  		<a class="button button-clear button-block btntext" href="#/login">Inicia sesión</a>
		  	</div>
		</div>
		<div class="row">
			<div class="col">
				<form ng-submit="signup(signupData)" name="myForm">
					<div class="list list-inset">
						<label class="item item-input">
			    			<input type="text" ng-model="signupData.name" placeholder="Nombre" />
			  			</label>
			  			<label class="item item-input">
			    			<input type="text" ng-model="signupData.last_name" placeholder="Apellido" />
			  			</label>
		    			<label class="item item-input">
			    			<input type="email" ng-model="signupData.email" placeholder="Email" />
			  			</label>
			  			<label class="item item-input">
			    			<input type="password" ng-model="signupData.password" placeholder="Contraseña" />
			  			</label>
					</div>
					<div class="col">
						<button class="button button-block button-balanced" type="submit">Regístrate</button>
					</div>
				</form>
			</div>
		</div>     	
	</ion-content>
</ion-view>